
.NUI-Element-Button {
	background: var(--NUI-Element-Window-Colour1);
	border: 0px;
	border-radius: var(--NUI-Element-Window-Border-Radius);
	color: var(--NUI-Element-Window-Colour2);
	padding: 2px 8px;
}
